body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f8cdda, #1d2b64);
    color: #333;
}

/* Container */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #1d2b64;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Layout */
.layout {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #1d2b64;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px); /* Adjust height considering the header */
    overflow-y: auto;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
}

.nav-buttons a {
    display: block;
    background-color: #f36f6f;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-buttons a:hover {
    background-color: #ff7e5f;
    transform: scale(1.05);
}

/* Main Content */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
    display: none;
}

.section-content h2 {
    color: #1d2b64;
}

.section-content h3 {
    color: #f36f6f;
}

/* Footer */
footer {
    background-color: #1d2b64;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        box-shadow: none;
    }
}